body {
    background: url("../img/vinyl.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.media-body {
    background:rgba(0,0,0,0.1);
    /* border: 1px solid #414141; */
    border-radius: 5px;
    padding: 10px;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 30px;
}

.modal {
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
